/* cores background #0B1020 / #101728 / #132A13 / #1B1B2F */
/* cores h1 #7CFFB2 / #B388FF / #8BE9FD */
/* fontes titulos Poppins / Cinzel / Playfair Display*/
/* fonte textos Inter / Nunito / Outfit*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

@media (max-width:600px) {
    #humores .emoji{
        width: 70px;
    }
    #mensagem{
        max-width: 500px;
        font-size: 10px;
        padding: 0 30px;
    }
}

body#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
body{
    margin: 0;
    background: linear-gradient( 180deg, #0B1020, #1B1B2F);

}
 
h1{
    color: #B388FF ;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 0 0 15px rgba(179, 136, 255, 0.4);
}

p{
    margin-top: -10px;
    margin-bottom: 30px;
    color: #7CFFB2 ;
    font-family: 'Outfit', sans-serif;
}

button{
    background-color: #B388FF;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    color: #0B1020;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #5d04f8;
    color: #7CFFB2;
}

#humores{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.emoji{
    width: 100px;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s, ease;
    display: inline-block;
    

}
.emoji:hover{
    transform: scale(1.2);
}

#mensagem{
    margin-top: 30px;
    color: #8BE9FD;
    font-size: 20px;
    font-family: 'outfit', sans-serif;

    padding: 0 20px;
    animation: fade 0.5s ease;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translatey(10px);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}


.controle-musica{
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid #7CFFB2;
    color: #7CFFB2;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    font-size: 25px;

    transition: 0.3s;
}

.controle-musica:hover{
    background-color: #7CFFB2;
    color: #0B1020;

    transform: scale(1.1);
}

#historico{
    margin-top: 40px;
    width: 80%;
    max-width: 500px;
}


#texto-diario{
    width: 50%;
    max-width: 400px;
    height:50px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px;
    border: none;
    resize: none;
    font-family: 'Outfit', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

#salvar-diario{
    margin-top: 15px;
}